<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/SecuenceGame.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/Kickoff.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/WeatherTable.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/CasualityTable.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/ImprovementTable.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/SPPTable.jpeg">
  </a>
</div><br>
<div class="card">
  <a class="navbar-item" style="margin: auto;">
    <img src="../../assets/img/ValueModif.jpeg">
  </a>
</div><br>